---
import { getEntry } from 'astro:content';
import { Icon } from 'astro-icon/components'
import FeaturedLink from '../components/FeaturedLink.astro';
import IconLink from '../components/IconLink.astro';
import ImageLink from '../components/ImageLink.astro';
import DefaultLink from '../components/DefaultLink.astro';
import Title from '../components/Title.astro';
const cssPath = '/src/css/default.css';

const css = await import(/* @vite-ignore */cssPath); 

const profile = await getEntry('profile', 'palmiak');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style is:inline set:html={css.default} />
		<title>Astro Linktree</title>
	</head>
	<body>
		<div class="container">
			<div class="user-info">
				<div class="photo"><img src={profile.data.avatar} alt="photo" /></div>
				<div>
					<h1>{profile.data.name}</h1>
					<p>{profile.data.description}</p>
				</div>
			</div>

			<div class="links">
				{profile.data.sections.map((section) => (
					<div class={'section section-' + section.layout }>
						{section.layout === 'featured' && (
							<FeaturedLink data={section} />
						)}
						{section.layout === 'icon' && (
							<IconLink data={section} />
						)}
						{section.layout === 'image' && (
							<ImageLink data={section} />
						)}
						{section.layout === 'default' && (
							<DefaultLink data={section} />
						)}
						{section.layout === 'title' && (
							<Title data={section} />
						)}
					</div>
				))}
			</div>

			<ul class="social-media">
				{profile.data.socialMedia.map((socialLink) => (
					<li>
						<a href={socialLink.link} target="blank">
							<Icon name={"mdi:" + socialLink.type} />
						</a>
					</li>
					))}
			</ul>
		</div>
	</body>
</html>
